.container {
}
.about {
  min-height: 70vh;
  margin-top: 10%;
  @include bold;
  letter-spacing: 1px;
  line-height: 30px;

  &__button {
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.726);
    padding: 19px 24px 19px 24px;
    width: 44%;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5%;
    border-radius: 3px;
    transition: 0.3s;
    margin-top: 2%;
  }
  &__button:hover {
    background-color: white;
    color: black;
  }

  &__main-text {
    font-size: 48px;
    line-height: 60px;
    padding-left: 10%;
  }
  &__upper-text {
    @include semibold;
    font-size: 34px;
  }
}
.about__inner-container {
  max-width: 70%;
  margin: 0 auto;
}
.about__lower-text {
  font-size: 24px;
  @include semiboldItalic;
}

.gold-text {
}

.typed-cursor {
  display: none;
}
