.container {
}
.button-wrapper {
  display: flex;
}
.about {
  padding-top: 109px;
  min-height: 60vh;
  margin-top: 10%;
  @include bold;
  letter-spacing: 1px;
  line-height: 30px;

  &__button {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
  }

  &__main-text {
    font-size: 48px;
    line-height: 60px;
    padding-left: 10%;
  }
  &__upper-text {
    @include semibold;
    font-size: 34px;
  }
}
.about__inner-container {
  max-width: 70%;
  margin: 0 auto;
}
.about__lower-text {
  padding-bottom: 30px;
  font-size: 24px;
  @include semiboldItalic;
}

.gold-text {
}

.typed-cursor {
  display: none;
}
