.contacts {
  padding-bottom: 40px;
  form {
  }
  textarea {
    resize: none;
  }
  input,
  textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.527);
    color: rgba(255, 255, 255, 0.884);
    font-size: 19px;
    outline: none;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  textarea {
  }

  input:focus,
  textarea:focus {
    border-color: #f4da98;
  }
}
#name {
  margin-bottom: 2%;
}
.formData {
  max-width: 50%;
  width: 100%;
}
.form-group {
  margin-right: 2%;
}
.contacts-wrapper {
  display: flex;
  padding-top: 30px;
  margin: 0 auto;
}
.form {
  display: flex;
}
.form__button {
  width: 100%;
}

.contacts-list {
  font-size: 25px;
  line-height: 40px;
  list-style: none;
  padding-left: 0;
  max-width: 50%;
  width: 100%;

  &__item span {
    color: #f4da98;
    display: inline-block;

    @include bold;
  }
  &__item a {
    color: #fff;
    padding-left: 10px;
    @include regular;
  }
  &__item a:hover svg path {
    fill: rgba(255, 255, 255, 0.856);
  }
  &__item a:hover {
    color: rgba(255, 255, 255, 0.856);
  }
}
