.footer {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.733);
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 24px;
  @include semibold;
}
