.modal {
  position: fixed;
  display: none;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 718px;
  width: 100%;
  height: 250px;
  text-align: center;
  // display: none;
  background-color: rgba(22, 22, 22, 0.966);
  padding: 10px;
  border: 4px solid rgba(255, 255, 255, 0.685);
  border-radius: 5px;
  &__close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #f4da98ce;
  }
  &__title {
    font-size: 33px;
    @include semiboldItalic;
    margin-top: 20px;
  }

  &__text {
    @include semiboldItalic;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.712);
  }
}

.modal.active {
  display: block;
}
