.skills {
  min-height: 100vh;
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  &__card {
    min-width: 40%;
    min-height: 319px;
    margin-bottom: 2%;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.678);
    border-radius: 3px;
    box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.219);
  }
  &__card--figma {
    background: url(../img/figma.svg) no-repeat center center;
  }
  &__card--js {
    background: url(../img/Js.svg) no-repeat center center;
  }
  &__card--php {
    background: url(../img/php-logo.svg) no-repeat center center;
  }
  &__card:last-child {
    min-width: 50%;
  }
  &__card:hover .skills__card-list,
  &__card:hover .skills__card-title {
    transform: translateY(0);
  }
  &__card:hover .skills__arrow {
    opacity: 0;
  }
  &__card:hover .skills__card-title::after {
    transform: scale(1);
  }

  &__card-title {
    transform: translateY(109px);
    display: inline-block;
    transition: 0.5s;
    @include bold;
    font-size: 30px;
    position: relative;
    color: #f4da98;
  }
  &__card-title::after {
    content: "";
    height: 2px;
    width: 100%;
    transition: 0.5s;
    transform: scale(0);
    background-color: #f4da98;
    position: absolute;

    bottom: -4px;
    left: 0%;
  }
  &__card-list li {
    list-style-type: none;
    line-height: 38px;
    position: relative;
    font-size: 19px;
    @include semibold;
  }
  &__card-list li:hover::after {
    background-color: #f4da98;
  }
  &__card-list li::after {
    content: "";

    transition: 0.5s;
    height: 0.5px;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: -10%;
    right: -10%;

    background-color: #fff;
    display: block;
    margin: 0 auto;
  }

  &__card-list {
    transition: 0.5s;
    transform: translateY(300px);
    padding-left: 0;
  }
}
.skills__arrow {
  transition: 0.2s;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.gold-text {
}
