// basic styles
::-webkit-scrollbar {
  width: 0;
}

section {
  padding-top: 40px;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  @include regular;
}
.container {
  max-width: 1204px;
  margin: 0 auto;
  cursor: default;
  padding: 0 10px;
}
.gold-text {
  color: #f4da98;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 0;

  color: #f4da98;
}
.title::before,
.title::after {
  content: "";

  background-color: rgba($color: #f4da98, $alpha: 0.8);

  height: 2px;
  width: 20px;

  flex-grow: 1;
  flex-shrink: 0;
}
.title::before {
  margin-right: 50px;
}

.title::after {
  margin-left: 50px;
}
.subtitle {
  text-align: center;
  display: block;
  padding-bottom: 30px;
  max-width: 50%;
  font-size: 18px;
  margin: 0 auto;
  @include semiboldItalic;
  color: rgba(255, 255, 255, 0.438);
}
main {
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.blackout {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  display: none;
}
.blackout.active {
  display: block;
}
nav.active {
  top: 105px;
  right: 0px;
  opacity: 1;
  transform: scale(1);
}
body.active {
  overflow: hidden;
}
.header-burger__middle-line.active {
  width: 100%;
}
.btn {
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.726);
  padding: 19px 24px 19px 24px;
  width: 44%;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5%;
  border-radius: 3px;
  transition: 0.3s;
  margin-top: 2%;
}
.btn:hover {
  background-color: white;
  color: black;
}
