@import "fonts";
@import "animatedBg";
@import "blocks/normalize";
@import "base";
@import "blocks/header";
@import "blocks/about";
@import "blocks/skills";
@import "blocks/education";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/modal";
@import "media";
